//
@keyframes slide {
    from {
        transform: translateY(0);
        }
        to {
        transform: translateY(-100%);
    }
}

.navbanner {
    padding: 1rem;
    color: #fff;
    background-color: #333;
    border: 1px ridge #aaa;
    text-align: center;
    animation: slide 2s 5s ease-out forwards;
}