@import '../../styles/partials/mixins';

.menu {
    &__item {
        &--save {
            align-self: flex-start;
            background: center / cover no-repeat url('../../icons/hard-drive-svgrepo-com.svg');

            @include for-tablet-portrait-up {
                margin-right: 2rem;
            }
        }
        &--back {
            position: relative;
            margin-right: auto;
            background: center / cover no-repeat url('../../icons/arrow-left-circled-svgrepo-com.svg');
        }
        &--next {
            position: relative;
            margin-left: auto;
            background: center / cover no-repeat url('../../icons/arrow-right-circled-svgrepo-com.svg');
        }
        &--delete {
            align-self: flex-end;
            background: center / cover no-repeat url('../../icons/delete-circled-outline-svgrepo-com.svg');

            @include for-tablet-portrait-up {
                margin-left: 2rem;
            }
        }
    }

    &__link {
        height: $icon-size;
        width: $icon-size;
        display: flex;
        justify-content: center;
        align-items: center;
        color: transparent; // [!] display: none and visibility: hidden don't work. I still don't love how the "button" is as wide as the words
    }
}